xmpp = {
    'jid' : 'bot@jabber.net',
    'password' : 'password',
    'muc' : 'muc@conference.jabber.net',
    'nick' : 'GamesBot',
    'trigger' : '.',
    'admins': [
    	'sklullus_dromulus@whjew.net',
    ]
}

eveapi = {
    'userid' : 12345,
    'vcode' : ''
}

roulette = {
	'entry' : 5000000,
	'max_players' : 2
}